name: "Coding Metrics"

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  coding-metrics:
    name: Coding Metrics
    runs-on: ubuntu-latest
    permissions:
      contents: write # Allow the workflow to create and modify files in the repository
    steps:
      - name: Coding Metrics
        uses: JackPlowman/coding-metrics@copilot/fix-avatar-image-display
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          debug: true
