name: "Sync labels"

on:
  push:
    branches:
      - main
    paths:
      - .github/other-configurations/labels.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  configure-labels:
    name: Configure Labels
    permissions:
      contents: read
      pull-requests: write # For writing labels to the repository
    uses: JackPlowman/reusable-workflows/.github/workflows/common-sync-labels.yml@027686c99ec2d74752ec79051b9bbf00b084eb71 # v2025.11.19.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
